<div id="app" ng-app="myApp" ng-controller="myCtrl">
  <div class="left">
    <div class="left-one">
      <h2 class="text-center">The Musician Network</h2>
      <h5 class="text-center">By <a href="http://www.johnbfox.com/">John Fox</a></h5>
      <form id="searchForm" ng-submit="submitWithCurrent()">
        <input type="text" id="from" ng-model="graphArtist" ng-keydown="focusAutocomplete($event)" autocomplete="off" ng-model-options="{debounce: 300}"/>
        <img id="searchButton" ng-click="submitWithCurrent()" src="images/search-icon.png"/>
        <ul class="autocomplete" ng-show="isAutocompleteShowing">
          <li class="autocomplete__suggestion" ng-repeat="item in names" ng-class="{active: item.active}" ng-click="submitGraph(item.name)">
            {[{ item.name }]}
          </li>
        </ul>
      </form>
      <p class="description-block">
        Music is a collaborative art.  Musicians play, create, and perform with others throughout
        their careers.  Because of the extensive collaborations, a network of musicians forms.  Each
        circle represents a musician, and a line between two circles reprents a direct collaboration
        between two musicians.
      </p>
      <p class="description-block">
        <strong>Hover</strong> over a node to view the musician's name.
        <strong>Click and drag</strong> a node to move a graph section. <strong>Double click</strong>
        on a node to drill down.
      </p>
      <p class="description-block">
        The data used is sourced from Wikipedia.  Most major musicians have a wikipedia page, each
        one outlining associated acts. Go <a href="https://github.com/johnbfox/ArtistGraphCrawler"
        target="_blank">here</a> to learn about the data collection process.
      </p>
    </div>
  </div>
  <div class="right">
    <div id="degreeChart" width="800px">
      <div class="top-margin" id="graphContainer">
        <svg id="graphVis" width="100%" height="600px"></svg>
      </div>
    </div>
  </div>
</div>
